@charset "utf-8";

a {
	cursor: pointer;
}

/*下拉列表的宽度*/
div select {
	width: 110px !important;
}

/*巨幕样式*/
div.jumbotron center a:first-child img {
	width: 350px;
}
div.jumbotron center a:last-child {
	font-size: 2em; 
	color: #000;
}

/*搜索按钮宽度*/
button.searchBtn {
	width:50px;
}

/*表格样式*/
center table {
	margin-top: 20px; 
	width: 90% !important; 
	cursor: default;
}

/*蒙层的样式*/
div.Mongolia-laye {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	filter: alpha(opacity=20);
	z-index: 2;
	background: silver;
}
div.popup {
	display: none;
	position: fixed;
	top: 35%;
	left: 35%;
	width: 30%;
	padding: 0 50px;
	border-radius: 10px 0 10px 0;
	box-shadow: 0 12px 8px -9px #555;
	z-index: 10;
	background-color: #fff;
}
div.popup .message {
	font-size: 1.2em;
	margin: 15px 0 7px 0;
}
div.popup button {
	margin: 7px 0 15px 0;
}