@charset "utf-8";

center table tr td.type {
	text-align: center;
}

center table tr td.type:hover {
	background-color: #fff;
}

center table tr td button.operation {
	visibility: hidden;
}