<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
      <!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/lingjing</property>
		<property name="connection.username">root</property>
		<property name="connection.password">640015</property>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
                <!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
        <mapping resource="team/lingjing/ooad/entity/ProductType.hbm.xml"/>
         <mapping resource="team/lingjing/ooad/entity/Products.hbm.xml"/>
         <mapping resource="team/lingjing/ooad/entity/Customer.hbm.xml"/>
         <mapping resource="team/lingjing/ooad/entity/Employee.hbm.xml"/>
         <mapping resource="team/lingjing/ooad/entity/Inventory.hbm.xml"/>
          <mapping resource="team/lingjing/ooad/entity/Sale.hbm.xml"/>
           <mapping resource="team/lingjing/ooad/entity/SalesLineItem.hbm.xml"/>
         

    </session-factory>
</hibernate-configuration>